# Required
BOT_TOKEN=

# Optional
CLIENT_ID=
DBL_TOKEN=
WEEBSH_TOKEN=
PATREON_CLIENT_ID=
PATREON_CLIENT_SECRET=
PATREON_ACCESS_TOKEN=

# Local persistence
DB_PATH=./data/db.json
REDIS_JSON_PATH=./data/redis.json

# Runtime
SHARD_COUNT=1
CLUSTERS=1
DEBUG=false
